* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #15202b;
  color: white;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  text-align: center;
}

.register-container h1 {
  color: #1da1f2;
  margin-bottom: 20px;
}

.register-box {
  background-color: #192734;
  padding: 30px;
  border-radius: 12px;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  background-color: #1da1f2;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1991da;
}

.link {
  font-size: 14px;
}

a {
  color: #1da1f2;
  text-decoration: none;
}